{% extends "base.html.twig" %}


{% block body %}

<div class="fs_menu_overlay"></div>

	

	<div class="container contact_container">
		<div class="row">
			<div class="col">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
					</ul>
				</div>

			</div>
		</div>

		

		<!-- Contact Us -->

		<div class="row">

			<div class="col-lg-12 contact_col">
				<div class="contact_contents">
					<h1>About Us</h1>
					<p>
						At STORESHIP, we're dedicated to delivering high-quality products straight to your door. 
						Our mission is to make your life easier by providing convenient and reliable delivery services that you can trust.
					 	Whether you're looking for the latest gadgets, stylish clothing, or everyday essentials, we've got you covered. 
						With a focus on customer satisfaction, we strive to offer exceptional products at competitive prices, backed by responsive customer service and fast shipping.
						<br> At STORESHIP, we believe that shopping should be easy, enjoyable, and hassle-free, and we're committed to making that a reality for our customers.
						<br><strong> Join us today and experience the convenience of hassle-free shopping delivered right to your doorstep!</strong>
					</p>
					
					
					
				</div>

				

			</div>

		

		</div>
	</div>






{% endblock %}