{% extends 'base.html.twig' %}

{% block title %}Edit Store{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <h1>Edit Store</h1>

    {{ include('partner/store/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partner') }}">back to list</a>
{% endblock %}
