{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

<div class="mb-3 text-center">
    <a href="{{ path('app_reclamation', {'userId': app.user.id}) }}" class="btn btn-primary">Ajouter Réclamation</a>
     <a href="{{ path('userReclamation', {'client_id': app.user.id}) }}" class="btn btn-primary">Mes Reclamations</a>
</div>
{% endblock %}
