{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des reclamations
{% endblock %}

{% block body %}

	<div class="col-md-12">
		<div
			class="card-body">


			<!-- Contextual Classes -->

			<div class="card">
				<h5 class="card-header">Liste des reclamations</h5>
				<div class="table-responsive text-nowrap">
					{{form(form)}}
				</div>
			</div>
			<!--/ Contextual Classes -->
			<br>
			{# <div class="pagination">
																								{{ knp_pagination_render(users, 'pagination.html.twig') }}
																							</div> #}


		</div>
	</div>

</div></div></tbody></div></div></div><!-- / Content --></div><!-- Content wrapper --></div><!-- / Layout page --></div><!-- Overlay --></div><!-- / Layout wrapper --> {% endblock %}

