


{% block body %}

	

	<p>
		Dear <strong> {{ user.nom }} {{ user.prenom }}</strong>  ,<br><br>

		We are pleased to inform you that your account with us has been approved! We appreciate your interest in our services, and we are excited to have you as a member of our community.<br><br>

		Your account information has been verified, and you can now access all the features and benefits of our platform.<br><br> As a valued member, you will have access to all the list of the specific benefits and features that come with the account.<br><br>

		Please note that your account information is confidential and should not be shared with anyone else. <br><br>If you have any questions or concerns, please do not hesitate to contact our customer support team at melekbejaoui29@gmail.com.<br><br>

		We are committed to providing you with the best experience possible, and we look forward to serving you. Thank you for choosing our platform.
<br><br>
		Best regards,
		<br><br>
		<br>		Melek Bejaoui
<br>		StoreShip.tn

	</p>


{% endblock %}