{% block body %}

	

	<p>
		Dear <strong> {{ user.nom }} {{ user.prenom }}</strong>  ,<br><br>

		compte restricted
<br><br>
		Best regards,
		<br><br>
		<br>		Melek Bejaoui
<br>		StoreShip.tn

	</p>


{% endblock %}