
{% block body %}

	

	<p>
		Dear {{ user.nom }} {{ user.prenom }}  ,<br>

		We regret to inform you that your account with us has been disapproved. <br> After a thorough review of your application, we have determined that we are unable to approve your account at this time.
<br>
		We understand that this may be disappointing news, and we apologize for any inconvenience caused.<br> We encourage you to review our eligibility requirements and our terms and conditions carefully to understand why your application was not approved.

<br>		If you believe there has been a mistake or have any further questions, please do not hesitate to contact us at melekbejaoui29@gmail.com.

<br>		Thank you for your interest in our services.

<br>		Sincerely,

<br>		Melek Bejaoui
<br>		StoreShip.tn

	</p>


{% endblock %}
