table.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table.table-bordered {
    border: 1px solid #dee2e6;
  }
  
  table.table-bordered th,
  table.table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  table.table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  table.text-center th,
  table.text-center td {
    text-align: center;
  }
  .text-center {
    text-align: center;
  }
  
  .mb-5 {
    margin-bottom: 5px;
  }
  .table-responsive {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
      